{:source-paths ["src/cljs"]
 :dependencies []
 :builds
 {:app
  {:target :esm
   :js-options {:js-provider :import}
   :compiler-options {:output-feature-set :es-next}
   :output-dir ".shadow-cljs-out/app"
   :modules {:main {:init-fn app.core/init
                    :exports {greet app.core/greet
                              add app.core/add
                              formattedGreeting app.core/formatted-greeting}}}}}}
